<br>
<br>
<br>
<div *ngIf="edit">
    <p>Loading...</p>
</div>
<div *ngIf="loaded" class="card" style="width: 18rem;">
    <img class="card-img-top" src={{product.productUrl}} alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">{{product.productDescription}}</p>
        <a routerLink="" class="btn btn-primary">Back</a>
        <a class="btn btn-warning" (click)="editProduct()">Edit</a>
        <a routerLink="" class="btn btn-danger" (click)="deleteProduct()">Delete</a>
    </div>
</div>
<div *ngIf="edit">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <form>
            <label>Product Url:
                <input type="text" [(ngModel)]="product.productUrl" placeholder="Image Url"
                    name="productUrl"></label><br>
            <label>Product Name:
                <input type="text" [(ngModel)]="product.productName" placeholder="Product name"
                    name="productName"></label><br>
            <label>Product Description:
                <input type="text" [(ngModel)]="product.productDescription" placeholder="product"
                    name="productDescription"></label><br><br>
            <a routerLink="" class="btn btn-warning" (click)="updateProduct(product.productId)">Update</a>
        </form>
    </div>
</div>
</div>